<section class="bg-color-white margin-top-Value">
  <div class="content">
      <div class="about-section">
        <div class="container">
          <div class="about-info">
            <h2 class="h2-color text-center">Welcome to Khyaathi Cloud Technologies </h2>
            <p class="p-color text-center">Founded in 2013 a global IT training company . Created with vision to offer high quality training services to individuals and the corporate, in the field of  ‘IT technical skill development’,  we scaled new heights with every passing year. We deliver training in latest technologies related to Automation,Web Frameworks,Web Fullstack, Cloud Computing and Devops. We cater training to the needs of the Industry. Our main focus is to make pupils self-reliant and learning a fun filled experience.</p>
          </div>
          <div class="about-imgs img-div-margin">
            <div class="col-md-4 about-img">
              <img src="modules/core/client/img/brand/a1.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-md-4 about-img">
              <img src="modules/core/client/img/brand/a2.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-md-4 about-img">
              <img src="modules/core/client/img/brand/a3.jpg" class="img-responsive" alt="/">
            </div>
            <div class="clerafix"></div>
          </div>
        </div>
      </div>
          <!--why-choose-->
    <div class="why-choose">
          <div class="container">
            <h3 class="h3-color">Why choose us</h3>
            <div class="choose-grids">
              <div class="col-md-3 choose-grid">
              <h4>1. Vestibulum iaculis</h4>
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat.</p>

              </div>
              <div class="col-md-3 choose-grid">
              <h4>2. Mauris asan nulla</h4>
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat.</p>

              </div>
              <div class="col-md-3 choose-grid">
              <h4>3. faucibus risus</h4>
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat.</p>

              </div>
              <div class="col-md-3 choose-grid">
              <h4>4. faucibus risus</h4>
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat.</p>

              </div>
              <div class="clearfix"></div>
              </div>
            </div>
          </div>
      <!--why choose-->
      <div class="new-course">
        <div class="container">
          <h3 class="h3-color">Certification Programs</h3>
          <div class="new-course-grids">
            <div class="col-md-6 new-course-grid">
              <img src="modules/core/client/img/brand/p7.jpg" class="img-responsive" alt=""/>
              <div class="course-info">
                <h4>AWS</h4>
                <p>Mauris fermentum tortor non enim aliquet condimentum nam aliquam pretium feugiat duis sem est viverra eu interdum ac.</p>
              </div>
            </div>
            <div class="col-md-6 new-course-grid">
              <img src="modules/core/client/img/brand/p8.jpg" class="img-responsive" alt=""/>
              <div class="course-info">
                <h4>DevOps</h4>
                <p>Mauris fermentum tortor non enim aliquet condimentum nam aliquam pretium feugiat duis sem est viverra eu interdum ac.</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
        <!--team-->
      <div class="team">
        <div class="container">
          <h3>Our Team</h3>
          <ul class="ch-grid">
            <li>
              <div class="ch-item">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <div class="ch-info-back">
                      <h4>Director<br>by Chatarji</h4>
                    <p>1.Support relative projects.<br>2.Firstlevel escalations.
                    <a href="#">chatarji.khyaathi@gmail.com<br>9666941555</a></p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="ch-item">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-2"></div>
                  <div class="ch-info-back">
                      <h4>counselor by Ramya Krishna</h4>
                    <p>1.New Batches/timings.<br>2.Video sharing.<br>3.Content Information.<a href="#">khyaathi.trainings@gmail.com<br>9951984442</a></p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="ch-item">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                      <h4>Leader</h4>
                    <p>by Eileen Tjan <a href="#">View on Dribbble</a></p>
                  </div>
                </div>
              </div>
            </li>
             <li>
              <div class="ch-item">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-4"></div>
                  <div class="ch-info-back">
                      <h4>Leader</h4>
                    <p>by Eileen Tjan  <a href="#">View on Dribbble</a></p>
                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
</section>
