<section class="bg-color-white margin-top-Value">
 <div class="content">
      <!--services-->
      <div class="services">
        <div class="container">
          <h2 class="h2-color">Services</h2>
          <div class="services-grids">
            <div class="col-md-4 services-grid">
              <div class="ser1">
                 <img src="modules/core/client/img/brand/s1.jpg" class="img-responsive" alt="" />
                 <h4>Solor sit amet</h4>
                 <p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
              </div>
            </div>
            <div class="col-md-4 services-grid">
              <div class="ser1">
                <img src="modules/core/client/img/brand/s2.jpg" class="img-responsive" alt="" />
                 <h4>Lorem ipsum dolor</h4>
                 <p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
              </div>
            </div>
            <div class="col-md-4 services-grid">
              <div class="ser1">
                <img src="modules/core/client/img/brand/s3.jpg" class="img-responsive" alt="" />
                 <h4>Pamet erosorem</h4>
                 <p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!--feature-->
      <div class="features">
          <div class="container">
            <h3 class="h3-color">Features</h3>
              <div class="features-grids">
                <div class="col-md-3 feature-grid">
                <div class="feature">
                  <div class="feature1">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <h4>scelerisque eget</h4>
                  </div>
                  <div class="feature2">
                    <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, lesuada at, neque. Viv eget nibh. Etam cus. Nulla facilisi. </p>
                  </div>
                </div>
                </div>
                <div class="col-md-3 feature-grid">
                <div class="feature">
                  <div class="feature1">
                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                    <h4>scelerisque eget</h4>
                  </div>
                  <div class="feature2">
                    <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, lesuada at, neque. Viv eget nibh. Etam cus. Nulla facilisi. </p>
                  </div>
                </div>
                </div>
                <div class="col-md-3 feature-grid">
                <div class="feature">
                  <div class="feature1">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    <h4>scelerisque eget</h4>
                  </div>
                  <div class="feature2">
                    <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, lesuada at, neque. Viv eget nibh. Etam cus. Nulla facilisi. </p>
                  </div>
                </div>
                </div>
                <div class="col-md-3 feature-grid">
                <div class="feature">
                  <div class="feature1">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <h4>scelerisque eget</h4>
                  </div>
                  <div class="feature2">
                    <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, lesuada at, neque. Viv eget nibh. Etam cus. Nulla facilisi. </p>
                  </div>
                </div>
                </div>
                  <div class="clearfix"></div>
              </div>
          </div>
        </div>
      <div class="service">
        <div class="container">
          <h3 class="h3-color">What We Offer</h3>
          <div class="servic-grids">
            <div class="service1">
              <div class="col-md-3 service-grid">
                <img src="modules/core/client/img/brand/s4.jpg" class="img-responsive" alt="">
              </div>
              <div class="col-md-3 service-grid1">
                <h4>Mauris non magna ul </h4>
                <p>Fusce feugiat malesuada odio. Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
              </div>
              <div class="col-md-3 service-grid">
                <img src="modules/core/client/img/brand/s5.jpg" class="img-responsive" alt="">
              </div>
              <div class="col-md-3 service-grid1">
                <h4>Mauris non magna ul </h4>
                <p>Fusce feugiat malesuada odio. Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="service2">
              <div class="col-md-3 service-grid">
                <img src="modules/core/client/img/brand/s6.jpg" class="img-responsive" alt="">
              </div>
              <div class="col-md-3 service-grid1">
                <h4>Mauris non magna ul </h4>
                <p>Fusce feugiat malesuada odio. Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
              </div>
              <div class="col-md-3 service-grid">
                <img src="modules/core/client/img/brand/s7.jpg" class="img-responsive" alt="">
              </div>
              <div class="col-md-3 service-grid1">
                <h4>Mauris non magna ul </h4>
                <p>Fusce feugiat malesuada odio. Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
</section>
